<div class='index-body'>
  <div class='todo-list'>
    <% @todos.each do |todo| %>
      <div class='todo-card'>
        <div class='todo-card-title'>
          <h3><%= todo.title %></h3>
          <h5>(Priority: <%= todo.priority %>)</h5>
        </div>
        <div class='options-links'>
          <%= link_to 'Show', todo_path(todo), { :class => 'options-link'} %> &nbsp; &nbsp;
          <%= link_to 'Edit', edit_todo_path(todo), { :class => 'options-link'} %> &nbsp; &nbsp;
          <%= link_to 'Delete', todo_path(todo), method: :delete, class: 'options-link' %> &nbsp; &nbsp;
        </div>
      </div>
    <% end %>
    <div class='todo-card'>
        <h3><%= link_to 'Create New Item', new_todo_path %></h3>
    </div>
  </div>
</div>